.parent {border: 1px solid black;}
.parent-child {border: 1px solid red;}
.multilineText {resize: none;}
input {display: block;margin-bottom:10px;margin-top:5px; }
.questionTextBox {display: inline;margin-bottom:10px;margin-top:5px;}
.appendQuestionAnswerDiv 
{
width: 200px;
height: 250px;
overflow: scroll;
background-color: navy;
overflow-y: scroll;
overflow-x: scroll;
}
select {margin-left:5px; }
li { color: white;font-weight: bold;  /* or whatever color you prefer */}
ul { color: white;font-weight: bold; /* or whatever color you prefer */}
.child{margin-left: 15px;}